{% extends 'base.html' %} {% block main %}
<div class="content">
  <div class="section1">
    <img
      src="/static/1_jvT5REAJKM3YJiApuRvgXg.gif"
      alt="people and folders"
      height="400"
      width="900"
    />
    <div class="mountain">
      <div class="mountain-words">
        <h1>Web 3.0 is the future and we are bringing you the future</h1>
        <h2>
          BLOCK FLIX gives you the opportunity to create your own blockchain
          without prior knowledge of any programming , its as simple as creating
          a facebook account
        </h2>
        <a href="/join">
          <button class="get-started">Get Started</button>
        </a>
      </div>
    </div>
  </div>

  <div class="section2">
    <div class="features">
      <div class="tile access">
        <img
          src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-access-anywhere.svg"
          alt="access icon"
        />
        <h3>Send Money from anywhere</h3>
        <p>
          No matter where you live, what regulation you have Once you create a
          Blockchain its there
        </p>
      </div>
      <div class="tile security">
        <img
          src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-security.svg"
          alt="security icon"
        />
        <h3>Security you can trust</h3>
        <p>
          As we provide several consensus algorithm , so we can also avoid 51%
          attack
        </p>
      </div>
      <div class="tile real-time">
        <img
          src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-collaboration.svg"
          alt="clock icon"
        />
        <h3>Collaboration</h3>
        <p>
          For validating your blocks there will always be a decentralized body
        </p>
      </div>
      <div class="tile storage">
        <img
          src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-any-file.svg"
          alt="storage icon"
        />
        <h3>Immutable</h3>
        <p>
          Because of the sha256 property you cant change any block that is
          validated
        </p>
      </div>
    </div>
  </div>
  <div class="section3">
    <img
      src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/illustration-stay-productive.png?raw=true"
      alt="people working"
    />
    <div class="sec3text">
      <h1>Decentralized everything</h1>
      <p>
        In Block Flix we provide to create your own Blockchain network Then you
        can implement the network in doing any daily base work like canteen
        payment , service providence , relief fund etc and all these will
        transparent and secure unlike real world transaction
      </p>
      <a href="#"
        >More Details
        <img
          src="https://raw.githubusercontent.com/hammercait/fylo-dark-theme-landing-page/658fd0afb4462e6a7e94996ab981bb7d5b336997/images/icon-arrow.svg"
          alt="tiny arrow"
      /></a>
    </div>
  </div>
  <div class="section4">
    <div class="quotes">
      <img
        id="quotation"
        src="https://github.com/hammercait/fylo-dark-theme-landing-page/blob/master/images/bg-quotes.png?raw=true"
        alt="quotation mark"
      />
    </div>
    <div class="quote-cards">
      <div class="card">
        <div class="sec3text">Buy stuff in Metaverse</div>
      </div>
      <div class="card">
        <div class="sec3text">Transfer Real to Digital Asset</div>
      </div>
      <div class="card">
        <div class="sec3text">Tackle Inflation</div>
      </div>
    </div>
  </div>
</div>
<div class="section5">
  <div class="contact-box">
    <h1>Send Feedback</h1>
    <p>
      Suggest us any upgrade you want or any bug you found Also reach out to us
      for any query
    </p>
    <form action="#">
      <input
        type="email"
        id="email"
        name="email"
        placeholder="email@example.com"
      /><input id="submit" type="submit" value="Send Feedback" />
    </form>
  </div>
</div>
{% endblock %}
